@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body{
    font-family: "Poppins";
    min-height: 100vh;
   
    background-size: cover; /* makes the backround fit in the website 
    position center positons it in the center (*/ 
    background-position: center;
    overflow-x: hidden;    /* overflow x prevents side scrolling */ 
    overscroll-behavior: none; /* overscoll prevents excess scroling(very annoying) */ 
    background-color: white;
    


}
.image{
    display: block;  /* so the image gets everthing for its self  */
    max-width: 100%; /*max width and height auto make the image
    scale with screen size  */
    height: auto;
     padding: 0px;
     top: 0px;  /* this is the position of the image  */
    left: 0px;
    


}

.header{
    position: fixed;  /* so it moves with you
    if you dont want that you can set it to abosolute */
   top: 0;   /*positioning  */
    left: 0;
   /* setting the headers heigh and with and how you want it to display is text
   blur and shadows included */
    width: 80%;
    padding: 0.5rem 10%;
    background-color: red;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    background: rgba(0, 0, 0, -1);
    box-shadow: 3px 2px 10px cadetblue;
    
    
    
    
}

.navbar a{
     /* removes text decor so its clean, adds colour weight and size */
    font-size: 1.20vw;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.2rem;
}

.logo{
     /*same thing here */
    font-size: 2.5vw;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar a:hover{
     /* when you hover over the thing it turns a blue */
    color: skyblue;
}

.header a:hover{
    color:  lightskyblue;
   
}


    


.title{   /* positioning of the text on the image */
 position: absolute;
 top: 25%;
 margin-left: 5%;
 color: white;
 font-size: 2.5vw; /* makes the text scale with the image */ 
    
}

.title2{
    text-align: center;
    font-size: 2.5vw;
    margin: 0;
    
}


    


body{
    background-color:  whitesmoke;

}

.line{
    width: 150px;
    height: 4px;
    background-color: skyblue;
    margin: 0px auto;
    border-radius: 5px;

}
/* delete past here if it doest work  */ 
section{
    width: 90%;
    margin: 80px auto;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.japan .row{
    margin-top: 80px;
}
h4{
    font-size: 2vw;
    color: slateblue;
}
p{
    font-size: 1.5vw;
}
.fuji{
    max-width: 100%;
    height: auto;
    }
.fuji1{
    max-width: 82%;
    height: auto;
    }

.button{
    text-decoration: none;
    border: 5px  solid slateblue;
    border-radius: 10px;
    color: white;
    background-color: slateblue;
    font-size: 1.6vw;
    
    
}

.japan .row .col {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 40px;  /* creates horizontal separation between the texts */
}